name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Install dependencies
      working-directory: ./BlazorAutoCotacao
      run: dotnet restore BlazorAutoCotacao.csproj

    - name: Build and Publish
      working-directory: ./BlazorAutoCotacao
      run: dotnet publish BlazorAutoCotacao.csproj -c Release -o ./bin/Release/publish
      env:
        API_BASE_URL: ${{ secrets.PROD_API_URL }}

    - name: Create .nojekyll
      run: touch ./BlazorAutoCotacao/bin/Release/publish/wwwroot/.nojekyll

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./BlazorAutoCotacao/bin/Release/publish/wwwroot
        cname: false
