name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Install dependencies
      working-directory: ./BlazorAutoCotacao
      run: dotnet restore BlazorAutoCotacao.csproj

    - name: Build and Publish
      working-directory: ./BlazorAutoCotacao
      run: dotnet publish BlazorAutoCotacao.csproj -c Release -o ./bin/Release/publish
      env:
        API_BASE_URL: ${{ secrets.PROD_API_URL }}

    - name: Create .nojekyll
      run: touch ./BlazorAutoCotacao/bin/Release/publish/wwwroot/.nojekyll

    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './BlazorAutoCotacao/bin/Release/publish/wwwroot'

  deploy:
    needs: build
    runs-on: ubuntu-latest
    
    permissions:
      pages: write
      id-token: write
    
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v3
